<!DOCTYPE html>
<html>
<head>
<title>Music Festival Lineup Reader</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/styles.css">
</head>
<body style="max-width:1300px">

<div class = center>
      <h1>Upload File</h1>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="image" accept="*/*" required>
            <button type="submit">Upload the file</button>
        </form>
  </div>

</body>
</html>
